.container-cards-values {
  padding: 15px 20px;
  width: 100%;
  border-radius: 6px;
  color: #4d4f50;
  border: 1px solid #e9e9e9;
  box-shadow: 3px 3px 4px #888888;
}

.container-cards-values h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

.container-cards-values span {
  font-size: 18px;
  font-weight: 600;
}
